.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
**/.DS_Store
node_modules
.vscode
package-lock.json
**/*.log
**/*.out
**/*.toc
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.synctex.gz

README.html

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.maf
*.mtc
*.out.ps
## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xmltemplates/latex/pegs.mtc0
templates/latex/pegs.mtc1
templates/latex/pegs.mtc2
templates/latex/pegs.mtc3
templates/latex/pegs.mtc4
templates/latex/pegs.mtc5
templates/latex/pegs.mtc0
